<head>
  <link rel="stylesheet" href="css/header.css">
</head>

<header>
  <div class="header-logo">
    <img src="img/coalex-logo.png" alt="no-image" srcset="" />
  </div>
  <h1>CoalEx</h1>
  <nav>
    <a href="#">Employers Profile</a>
    <a href="#">Risk Zone</a>
    <a href="#">Public API</a>
    <a href="#">About Us</a>
    <div class="nav-button">
      <button type="button" class="btn btn-outline-dark">LogIn</button>
    </div>
  </nav>
</header>
