<div id="about-main">
  <div class="about-jumbotron">
    <div class="jumbotron-inner">
      <div class="top-box">
        <div class="content-box">
          <h1>About CoalEx</h1>
          <p>
            CoalEx is an IOT enabled smart suit for coal miners <br />
            Our aim is to better the current health and safety condition in
            Indian mines by the use of properly devised wireless technology
          </p>
        </div>
      </div>
    </div>
    <div class="img-layer-container">
      <!-- <div class="team-image" id="team-image">
                <img src="img/team.jpg" />
            </div> -->

      <div class="circles-container">
        <div class="img-1">
          <img src="https://apimatic.io/img/theme/aboutUs/Circles-1-1.svg" />
        </div>
        <div class="img-2">
          <img src="https://apimatic.io/img/theme/aboutUs/Circles-2-1.svg" />
        </div>
      </div>
    </div>
  </div>
  <div class="story-container">
    <div class="need-for-dx-container">
      <h3 class="text-center">Need for wireless smart suit</h3>
      <p>
        Wireless technologies have taken the world by storm and are now the de
        facto standard of electronics communication. Almost every electronic
        product nowadays consumes data which needs to be fetched and transmitted
        without any loss of data. The coal mines around the world relies upon
        the ZigBee technology which is slow in comparison to our proposed model.
        Coal Mine owners and government spend millions of dollars every year to
        improve safety and reduce health hazards in mines. At CoalEx it is
        usually done by providing wireless data communication pathway along with
        client friendly site to track and monitor the current health system of
        mine worker using IOT technology which is very fast and provides ease of
        data traversal
      </p>
      <div class="img-container">
        <img
          src="img/block-diagram.jpg"
          alt="apimatic developer experience process"
          class="img-responsive"
        />
      </div>
    </div>
    <div class="container-divider"></div>
    <div class="our-tech-container">
      <h3 class="text-center">Our Technology</h3>
      <p>
        We propose the system as a helmet and a suit which is equipped with the
        network of sensors such as the heart beat sensor which will be fixed to
        the coal mine worker which will constantly check the pulse rate which is
        directly related with heart functions and monitors the workers health,
        temperature sensor collects the workplace temperature data ,humidity
        sensor gets the information of the moisture content of the workplace and
        gas sensor gets the data of the various gas in the coal mine and these
        sensors are connected to the arduino micro-controller which in turn is
        fitted with the LoRa module which transmits data using wireless
        technology and data will be received by the other end by the receiver
        side server which will be monitored by the manager.The manager will be
        alerted and notified of any crisis in the mining zone through server
        side data from AWS technology with which he can ensure the safety of the
        worker. In the existing system data is transmitted with the help of the
        ZigBee technology where the data transmission is not very efficient,its
        transmission rate is very low which is around 30 meters it may lead to
        the less data coverage or sometimes to the loss of the data and it may
        lead to late alerts. Our proposed system also adapts a headgear system
        with piezoelectric sensors attached to the gear such that if the
        bodysuit and the headgear are not attached simultaneously an alert
        system will be raised which alerts the miner.The data are automatically
        stored in the cloud AWS database and the messages are monitored by the
        authorized person and the alert messages are also sent to the authorized
        person in the form of the electronic mails.
      </p>
      <div class="img-container">
        <img src="img/data-flow.gif" alt="no image" class="img-responsive" />
      </div>
    </div>

    <div class="container-divider"></div>
    <div class="today-container">
      <h3 class="text-center">How CoalEx is better?</h3>
      <p>
        Many accidents which occur in the mining industries are due to the slow
        data transmission or due to the loss of data which has to be
        transmitted, these issues can be solved by using the wireless data
        transmission technology (Low data High Range LoRa) as it is known for
        the fast data transmission.Our system uses Radio head packet radio
        library for sending and receiving packages upto 10kms without disruption
        in data. . Presently, CoalEx resolves numerous issues of the present health system:
      </p>
      <ul>
        <li>Creates a seperate node for each worker along with a motherhub at the manger's server side</li>
        <li>Can transmit data upto 10kms and 1 motherhub can be used for tracking almost 3000 workers</li>
        <li>Tracks data in small packets of data hence there is no loss of data and fast transmission</li>
        <li>
        Alert system mechanism which alerts the manager of any health issues
        </li>
        <li>IOT device transfers data to AWS database to store and showcase the data in the client side server</li>
        <li>To Generate complete user friendly interface for evryone to access it</li>
      </ul>
    </div>
    <div class="team-image" id="team-image">
      <h3>Our CoalEx Team</h3>
      <!-- <img src="img/abhinav.png" alt="" />
      <img src="img/sayan.png" alt="" />
      <img src="img/arun.png" alt="" />
      <img src="img/vikas.png" alt="" />
      <img src="img/abhinav.png" alt="" />
      <img src="img/abhinav.png" alt="" /> -->
      <!-- <img src="img/team.jpg" /> -->
    </div>
    <div class="container-divider"></div>
  </div>
</div>
