<head>
    <link rel="stylesheet" href="css/register.css" />
   
</head>

<div id="main" class="main-container">
  <img src="img/register-bg.jpg" alt="no image" srcset=""> 
  <div class="box">
    <h2>Register</h2>
    <form action="/register" method="POST">
      <div class="input-box">
        <label for="name">Name</label>
        <br>
        <input type="text" id="name" name="name" placeholder="Enter name" required>
      </div>
      <div class="input-box">
        <label for="email">Email</label>
        <br>
        <input type="email" id="email" name="email" placeholder="Enter Email" required>
      </div>
      <div class="input-box">
        <label for="password">Password</label>
        <br>
        <input type="password" id="password" name="password" placeholder="Enter Password" required>
      </div>
      <input id="submit" type="submit" name="" value="Register">
    </form>
   <a href="/login">Login</a>
  </div>
</div>














